DEBUG=True
PORT=8000
DATABASE_URL=postgres://postgres:postgres@db:5432/basedb
# E-MAIL CONFIGS
# EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_TIMEOUT=10
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
DEFAULT_FROM_EMAIL=dannluciano@gmail.com