{% extends base_template %}

{% block title %}Hospedagens · Capivara Tech II{% endblock %}

{% block content %}
  <section class="ct-prose">
  <div class="ct-page-head">
    <div class="ct-eyebrow">// Onde ficar</div>
    <h1 class="ct-h2">Hospedagens em São Raimundo Nonato</h1>
  </div>

  <ol>
    <li class="section">
      <hgroup>
        <h4 class="title is-4">Pousada Zabelê</h4>
        <h5 class="subtitle is-5">Tipo de hospedagem: Pousada</h5>
      </hgroup>
      <address>
        <p>
          Endereço:
          <a href="https://maps.app.goo.gl/jJTeBmY874UWsSg97">Praça Major Toinho, 280 - Centro, São Raimundo Nonato – PI, 64770-000</a>
        </p>
        <p>
          Contatos:
          <a href="tel:089981360717">(89) 98136-0717</a>
        </p>
      </address>
      <p>Valor: R$ 150 a 260 (sujeito à alteração) Inclui café da manhã</p>
      <p>Acomodações: Quartos individuais, duplos e triplos</p>
    </li>

    <li class="section">
      <hgroup>
        <h4 class="title is-4">Mega Express Hotel I</h4>
        <h5 class="subtitle is-5">Tipo de hospedagem: Hotel</h5>
      </hgroup>
      <address>
        <p>
          Endereço:
          <a href="https://maps.app.goo.gl/vYf2qMADxic5qy7c7">Praça Major Toinho, 401, Centro, São Raimundo Nonato PI, 64770-000</a>
        </p>
        <p>
          Contatos:
          <a href="tel:089981091555">(89) 98109-1555</a>, <a href="https://wa.me//5589981091555?text=Olá">(WhatsApp)</a>
          e
          <a href="mailto:megaexpresshotel@gmail.com">megaexpresshotel@gmail.com</a>
        </p>
      </address>
      <p>Valores: R$ 100 a 150 (sujeitos à alteração) Não inclui café da manhã</p>
      <p>Acomodações: 08 quarto duplo, 04 quarto casal 1 cama</p>
    </li>

    <li class="section">
      <hgroup>
        <h4 class="title is-4">Mega Express Hotel II</h4>
        <h5 class="subtitle is-5">Tipo de hospedagem: Hotel</h5>
      </hgroup>
      <address>
        <p>
          Endereço:
          <a href="https://maps.app.goo.gl/dh8oZsxqMGNoLD2R8">Av. Coronel Milanez, s/n - Bairro Cipó, São Raimundo Nonato – PI, 64770-000</a>
        </p>
        <p>
          Contatos:
          <a href="tel:089981091555">(89) 98109-1555</a>, <a href="https://wa.me//5589981091555?text=Olá">(WhatsApp)</a>
          e
          <a href="mailto:megaexpresshotel2@gmail.com">megaexpresshotel2@gmail.com</a>
        </p>
      </address>
      <p>Valores: R$ 145 a 210 (sujeitos à alteração) Inclui café da manhã</p>
      <p>Acomodações: 03 quartos duplo, 04 quarto individual, 08 quarto casal</p>
    </li>

    <li class="section">
      <hgroup>
        <h4 class="title is-4">Asa Delta Pousada</h4>
        <h5 class="subtitle is-5">Tipo de hospedagem: Pousada</h5>
      </hgroup>
      <address>
        <p>
          Endereço:
          <a href="https://maps.app.goo.gl/iZ9n5CCTU3G91Wj26">Saída para Coronel José Dias BR 020, São Raimundo Nonato – PI, 64770-000</a>
        </p>
        <p>
          Contatos:
          <a href="tel:089981460033">(89) 98146-0033</a>
          e
          <a href="https://pousadaasadeltasrn.com.br">https://pousadaasadeltasrn.com.br</a>
        </p>
      </address>
      <p>Valores: R$ 145 a 210 (sujeitos à alteração) Inclui café da manhã</p>
      <p>Acomodações: 03 quartos duplo, 04 quarto individual, 08 quarto casal</p>
    </li>

    <li class="section">
      <hgroup>
        <h4 class="title is-4">Pousada Ninho da Seriema</h4>
        <h5 class="subtitle is-5">Tipo de hospedagem: Pousada</h5>
      </hgroup>
      <address>
        <p>
          Endereço:
          <a href="https://maps.app.goo.gl/AvcqZWagUNfQdecCA">Avenida Coronel Milanez, São Raimundo Nonato – PI, 64770-000 (Ao lado da rodoviária)</a>
        </p>
        <p>
          Contatos:
          <a href="tel:089981175920">(89) 98117-5920</a> e <a href="https://wa.me//5589981175920?text=Olá">(WhatsApp)</a>
        </p>
      </address>
      <p>Valor: R$ 90 (sujeito à alteração) Inclui café da manhã</p>
      <p>Acomodações: 26 quartos duplos ou triplos</p>
    </li>

    <li class="section">
      <hgroup>
        <h4 class="title is-4">Hotel Bela Vista</h4>
        <h5 class="subtitle is-5">Tipo de hospedagem: Hotel</h5>
      </hgroup>
      <address>
        <p>
          Endereço:
          <a href="https://maps.app.goo.gl/xiZdJXufcQ1YhBUUA">R. Dr. Raul Macedo, 95 - Centro, São Raimundo Nonato – PI, 64770-000</a>
        </p>
        <p>
          Contatos:
          <a href="tel:089981035190">(89) 98103-5190</a>
          e
          <a href="tel:089981205190">(89) 98120-5190</a>
        </p>
      </address>
      <p>Valor: R$ 90 a 120 (sujeito à alteração) Inclui café da manhã</p>
      <p>Acomodações: Quartos individuais, duplos e triplos. Capacidade de 65 a 70 pessoas</p>
    </li>
  </ol>
  </section>
{% endblock %}
