{% extends base_template %}
{% load crispy_forms_tags %}

{% block content %}
  <h3 class="title is-3">Certificados</h3>

  <form action="{% url 'certificates' %}" method="post">
    {% csrf_token %}
    {{ cf|crispy }}
    <div class="field buttons">
      <p class="control">
        <button class="button is-large is-success">Procurar Certificados</button>
      </p>
    </div>
  </form>

  {% if certificates %}
    <br />

    <h4 class="title is-3">Certificados Encontrados</h4>

    <br />

    <div>
      <ul class="list">
        {% for certificate in certificates %}
          <li class="block">
            <a class="button is-info is-fullwidth is-large" target="_blank" href="{% url 'certificate_detail' certificate.uuid %}">Certificado {{ certificate.activity|truncatechars:20 }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
