{% extends base_template %}
{% load pictures %}
{% block content %}
  <h3 class="title is-3">Imagens para a memória do V SPA</h3>

  <div class="fixed-grid has-3-cols">
    {% for image in images %}
      <button class="js-modal-trigger" data-target="photo-{{ image.id }}">{% picture image.picture img_alt=image.title img_loading='lazy' picture_class='image' m=4 l=4 %}</button>

      <div id="photo-{{ image.id }}" class="modal" style="--bulma-modal-content-width: 80em;">
        <div class="modal-background"></div>
        <div class="modal-content">
          <p class="image">
            {% picture image.picture img_alt=image.title img_loading='lazy' picture_class='image' m=12 l=12 %}
          </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    {% endfor %}
  </div>
{% endblock %}
