{% extends base_template %}

{% block content %}
  <h2 class="subtitle is-4 is-hidden-desktop has-text-justified">Caminhos para convivência com o semiárido e resiliência às mudanças climáticas</h2>
  <section class="">
    <h3 class="title is-3">Saudações agroecológicas!</h3>
    <p class="has-text-justified">Após sete anos da última edição, o Seminário Piauiense de Agroecologia retorna com o chamado do planeta Terra e seus territórios para indivíduos e organizações dialogarem e compartilharem soluções sustentáveis para o enfrentamento das mudanças climáticas e seus impactos naturais e sociais.</p>
    <br />
    <h4 class="title is-4">28 A 30 DE ABRIL DE 2025 - SÃO RAIMUNDO NONATO</h4>
  </section>
{% endblock %}
