{% extends base_template %}

{% block content %}
  <section id="schelude">
    <h3 class="title">Programação</h3>

    <details open>
      <summary>
        <strong>Segunda-feira, dia 28 de Abril: DIA NACIONAL DA CAATINGA 🌵</strong>
      </summary>
      <table class="table">
        <thead>
          <tr>
            <th>Horário</th>
            <th>Atividade</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Manhã</strong>
            </td>
            <td>
              <strong>Oficina (Cada participante poderá se inscrever em uma oficina)</strong>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>7h00 às 8h00</strong>
            </td>
            <td>
              <strong>Credenciamento e acolhida</strong>
            </td>
            <td>Pátio 1 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>8h30 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>1. Oficina Sementes da Fartura: Pureza, germinação, manejo, armazenagem e implantação de casas/bancos comunitários de sementes</strong>
              <br />Facilitador: Cáritas e FETAG
            </td>
            <td>Sala de Aula 15 e 16 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>2. Práticas Agroecológicas (água de vidro, biofertilizantes)</strong>
              <br />Facilitador: ArRepia - Rede Piauiense de Agroecologia e Secretaria de Estado da Agricultura Familiar do Piauí
            </td>
            <td>Sala de Aula 17 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>4. Introdução à meliponicultura</strong>
              <br />Facilitadores: Sandra Sousa - Senar Piauí, Darcet Costa Souza - Universidade Federal do Piauí, Patricia Maria Drumond - Embrapa Meio-Norte e Pedro Algusto Mel - Quintal Agro Ecológico
            </td>
            <td>
              Propriedade Rural <br />(transporte sairá do IFPI)
            </td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>5. Introdução aos Sistemas Agroflorestais (SAF) e o uso do SAF na mitigação das mudanças climáticas</strong>
              <br />Facilitadores: Xico e Carlito Rodrigues Lima - Associação Caatinga e Alexandre Kemenes - Embrapa Meio-Norte
            </td>
            <td>Sala de Aula 19 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>6. Bases gerais da pecuária orgânica e alimentação de aves, bovinos, suínos, caprinos e ovinos no sistema orgânico</strong>
              <br />Facilitadores: Angela Escosteguy - Instituto do Bem-estar - IBEM. Porto Alegre/Rio Grande do Sul e João Paulo Guimarães Soares - Embrapa Cerrados
            </td>
            <td>Auditório IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>7. Fontes alternativas para alimentação de aves caipiras</strong>
              <br />Facilitadora: Jackelline Cristina Ost - Universidade Federal do Piauí - Colégio Técnico de Floriano - CTF
            </td>
            <td>Laboratório de Química do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>8. Preparações sustentáveis</strong>
              <br />Facilitadora: Joelaine de Jesus Santana - IFPI
            </td>
            <td>Laboratório de Gastronomia do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>9. Agroecologica, cuidado e feminismo</strong>
              <br />Facilitadora: Gabriela Brito de Lima Silva - IFPI
            </td>
            <td>Laboratório de Matemática do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>10. Acesso dos jovens rurais aos espaços decisórios e de diálogo agroecologia</strong>
              <br />Facilitadoras: Dorinha Nonato e Larissa de Brito Nonato - Simões - PI - Quilombo Serra dos Rafaéis
            </td>
            <td>Sala de aula 22 do IFPI</td>
          </tr>

          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>12. Formação de preços de venda de produtos da agricultura familiar</strong>
              <br />Facilitador: Francisco Eduardo de Oliveira Cunha - Universidade Federal do Piauí
            </td>
            <td>Laboratório LAEPE do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>Tarde</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>13h00 às 16h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>3. Redesenho dos agroecossistemas familiares para a transição agroecológica e o fortalecimento dos sistemas agroalimentares.</strong>
              <br />Facilitador: Cristiane Otto de Sá e José Luiz de Sá - Embrapa Tabuleiros Costeiros
            </td>
            <td>Biblioteca do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>11. Manipulação de plantas bioativas</strong>
              <br />
              Facilitadoras: Angela Escosteguy - Instituto do Bem-estar - IBEM. Porto Alegre/Rio Grande do Sul e Patrícia Gallindo Carrazzoni - Instituto Agronômico de Pernambuco - IPA
            </td>
            <td>Laboratório de Química do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>15h00 às 17h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Transporte para a Abertura no Museu da Natureza - Coronel José Dias - PI</strong>
              <br />
              <strong>Horários de Embarque 15h00 e 16h30</strong>
            </td>
            <td>Pátio do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>17h00 às 18h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Visita ao Museu da Natureza</strong>
            </td>
            <td>Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>Noite</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>18h00 às 18h30</strong>
            </td>
            <td class="has-text-justified">
              <strong>Boas Vindas ao V SPA</strong><br />Tatiane Leocádio Temóteo (Coordenadora do NEA)
            </td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>18h30 às 19h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Mesa com autoridades políticas</strong>
            </td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>19h00 às 20h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Conferência de Abertura: Coletivos da agroecologia e a resistência aos impactos da exploração da natureza <br /></strong>

              Ana Cláudia Alvez da Silva (Assentamento Novo Zabelê). <br />
              Nayanne Magna Ribeiro Viana (Movimento pela Soberania Popular na Mineração. Território Quilombola Lagoas). <br />
              Dorinha Nonato (Quilombo da Serra dos Rafaéis. Simões – PI).
            </td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>20h00 às 21h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Show de Abertura</strong>
            </td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>21h00 às 22h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Transporte para retorno a São Raimundo Nonato</strong>
            </td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
        </tbody>
      </table>
    </details>

    <hr class="hr" />

    <details open>
      <summary>
        <strong>Terça-feira, dia 29 de Abril 🐆</strong>
      </summary>
      <table class="table">
        <thead>
          <tr>
            <th>Horário</th>
            <th>Atividade</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Manhã</strong>
            </td>
            <td>
              <strong>Mesas-Redondas (simultâneas)</strong>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>8h00 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Mesa-redonda sobre Sistemas Orgânicos na Produção Animal</strong><br />
              Mediação: Patrícia Maria Drumond (Embrapa Meio-Norte) <br />

              Importância e Futuro da Pecuária no Brasil. (Angela Escosteguy. Instituto do Bem-estar. IBEM. Porto Alegre. Rio Grande do Sul). <br />

              Alimentação de ovinos e caprinos no sistema orgânico (João Paulo Guimarães Soares - Embrapa Cerrados) <br />

              Meliponicultura sustentável para produtores rurais (Sandra Sousa. Senar Piauí. Teresina - PI).
            </td>
            <td>Auditório do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>8h00 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Mesa-redonda sobre Agroflorestas</strong>
              <br />

              Mediação: Gean Magalhães Bastos (Associação das Produtoras e Produtores Agroecológicos do Semiárido Piauiense) <br />

              Maria Geane Magalhães Bastos (Sistema Agroflorestal Fazenda Xique-Xique - São Lourenço - PI) <br />

              Francisco Antonio de Sousa (Xico) (Associação Caatinga) <br />

              Alexandre Kemenes ( Embrapa Meio Norte. Experiência Murici das Portelas - PI) <br />

              Agroflorestando: a experiência em São Raimundo Nonato (Instituto Luss)
            </td>
            <td>Anfiteatro do Museu do Homem Americano</td>
          </tr>
          <tr>
            <td>
              <strong>8h00 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Mesa-redonda sobre Produção e Comercialização de Alimentação Saudável, Adequada e Sustentável</strong>
              <br />

              Mediação: Tatiane Leocádio Temóteo (Núcleo de Estudos em Agroecologia. São Raimundo Nonato). <br />

              Budega do Povo: Espaço agroecológico solidário (Mazé - Coordenadora Executiva da Associação da Budega do Povo. Viçosa Ceará) <br />

              A experiência Coopercuc de Beneficiamento e Comercialização de alimentos da caatinga (Cooperativa Agropecuária Familiar de Canudos, Uauá e Curaçá - Coopercuc - Bahia) <br />

              APASPI, certificação participativa e trajetória (Maria de Fátima da Conceição Sousa - APASPI)
            </td>
            <td>Ginásio do IFPI</td>
          </tr>

          <tr>
            <td>
              <strong>Tarde</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>14h00 às 17h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Mesa-redonda sobre sobre Políticas Públicas de agroecologia</strong>
              <br />
              Mediação: Hildebrando Wigner da Cruz Pires (Cáritas Regional Piauí) e Adalberto Pereira (ArRepia - Rede Piauiense de Agroecologia) <br />

              3º Plano Nacional de Agroecologia e Produção Orgânica (Rejane Silva da Costa - Associação Programa um Milhão de Cisternas Para o Semiárido) <br />

              Política Estadual de Agroecologia do Estado do Piauí (Rejane Tavares - Secretaria de Estado da Agricultura Familiar do Piauí e Conselho Estadual de Agroecologia do Piauí) <br />

              Política Estadual de incentivo aos bancos comunitários de sementes voltados para a seleção, produção e conservação, armazenamento e troca de variedades locais tradicionais ou crioulas (Secretaria de Estado da Agricultura Familiar do Piauí) <br />

              Políticas públicas para o combate da pobreza rural: um panorama sobre a região semiárida do Brasil (Fábio dos Santos Santiago) (Diaconia) <br />
            </td>
            <td>Auditório do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>13h00 às 14h30</strong>
            </td>
            <td class="has-text-justified">
              <strong>Apresentações Orais - Temáticas</strong>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>1. Gênero, feminismo e Agroecologia <br /> 2.Juventude rural, sucessão familiar e Agroecologia</strong>
              <br />
              Coordenadora: Cláudia Maria César de Araújo - INCRA
            </td>
            <td>Sala de aula 6 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>
                3. Políticas públicas: ATER e mercados alternativos para a produção de base agroecológica <br />
                5. Cultura, comunicação e Agroecologia <br />
                7. Construção do conhecimento agroecológico
              </strong>
              <br />
              Coordenadora: Cristiane Lopes Carneiro de Albuquerque
            </td>
            <td>Sala de aula 7 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>4. Agrobiodiversidade: animal, vegetal e extrativista</strong>
              <br />
              Coordenador: Hendrie Ferreira Nunes
            </td>
            <td>Auditório do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>6. Educação, metodologias participativas e Agroecologia</strong>
              <br />
              Coordenador: Valdinar Bezerra - UESPI
            </td>
            <td>Sala de aula 8 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>Segurança Alimentar e Nutricional, Gastronomia e Agroecologia</strong>
              <br />
              Coordenadora: Joelaine de Jesus Santana - IFPI
            </td>
            <td>Sala de aula 10 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>15h00 às 17h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Vivências Agroecológicas</strong> <br />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>Agricultura Sustentável e Integrativa na Fazenda Xique-Xique</strong> <br />
            </td>
            <td>Fazenda Xique-Xique - São Lourenço do Piauí</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>Produção Orgânica e Familiar no Novo Zabelê</strong> <br />
            </td>
            <td>Assentamento Novo Zabelê - São Raimundo Nonato</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td class="has-text-justified">
              <strong>Sabores e saberes na cozinha comunitária do Quilombo</strong> <br />
            </td>
            <td>Território Quilombola Lagoas - São Raimundo Nonato</td>
          </tr>
          <tr>
            <td>
              <strong>Noite</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>18h00 às 19h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Plenária e Carta Serra da Capivara</strong>
            </td>
            <td>Ginásio do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>19h00 às 20h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Encontros Culturais</strong>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </details>

    <hr class="hr" />

    <details open>
      <summary>
        <strong>Quarta-feira, dia 30 de Abril 🌻</strong>
      </summary>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Horário</th>
            <th>Atividade</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Manhã</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>7h00 às 7h30</strong>
            </td>
            <td class="has-text-justified">
              <strong>Café da Manhã e Concentração para o 8º Grito do Semiárido</strong><br />
              Coordenadora: Rejane Silva da Costa - Fórum do Semiárido
            </td>
            <td>Avenida dos Estudantes</td>
          </tr>
          <tr>
            <td>
              <strong>8h30 às 10h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Grito do Semiárido</strong><br />
            </td>
            <td>Caminhada pelo Centro de São Raimundo Nonato</td>
          </tr>
          <tr>
            <td>
              <strong>8h00 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Festival Gastronômico</strong><br />
              IFPI
            </td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>8h00 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Encontro das Feiras Agroecológicas do Piauí</strong>
            </td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>8h00 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Encontro das Sementes da Fartura</strong>
            </td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>11h00 às 12h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Show de Encerramento</strong>
            </td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>Tarde</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>13h00 às 17h00</strong>
            </td>
            <td class="has-text-justified">
              <strong>Visita ao Sítio do Boqueirão da Pedra Furada</strong>
            </td>
            <td>Parque Nacional Serra da Capivara</td>
          </tr>
        </tbody>
      </table>
    </details>

    <br />
    <br />

    <section id="map">
      <h3 class="title">Mapa</h3>

      <div class="flourish-embed" data-src="story/3046218">
        <script src="https://public.flourish.studio/resources/embed.js"></script>
        <noscript>
          <img src="https://public.flourish.studio/story/3046218/thumbnail" width="100%" alt="visualization" />
        </noscript>
      </div>
    </section>
  </section>
{% endblock %}
