{% extends base_template %}

{% block content %}
  <section id="schelude" class="">
    <h3 class="title">Programação</h3>

    <details open>
      <summary>
        <strong>Segunda-feira, dia 28 de Abril: DIA NACIONAL DA CAATINGA 🌵</strong>
      </summary>
      <table class="table">
        <thead>
          <tr>
            <th>Horário</th>
            <th>Atividade</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Manhã</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>8h às 12h</strong>
            </td>
            <td>Credenciamento e acolhida</td>
            <td>Pátio 1 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>9h às 12h</strong>
            </td>
            <td>
              1. Oficina Sementes da Fartura: Pureza, germinação, manejo e armazenagem <br />Facilitador: FETAG
            </td>
            <td>Barracão Pau de Rato do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              2. Introdução aos Sistemas Agroflorestais - SAF<br />Facilitador: Xico - Associação Caatinga
            </td>
            <td>Barracão Restaurante 1 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              3. Redesenho dos agroecossistemas familiares para a transição agroecológica e o fortalecimento dos sistemas agroalimentares. <br />Facilitador: Cristiane Otto de Sá - Embrapa Tabuleiros Costeiros
            </td>
            <td>Biblioteca do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              4. Introdução à meliponicultura <br />Facilitadores: Sandra Sousa - Projeto Arandú, Darcet Costa Souza - Universidade Federal do Piauí e Patricia Maria Drumond - Embrapa Meio-Norte
            </td>
            <td>Propriedade Rural</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              5. O uso do sistema agroflorestal na mitigação das mudanças climáticas <br />Facilitador: Alexandre Kemenes - Embrapa Meio-Norte
            </td>
            <td>Sombra Pau de Rato do IFPI</td>
          </tr>

          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              6. Bases gerais da pecuária orgânica e alimentação de aves, bovinos, suínos, caprinos e ovinos no sistema orgânico <br />Facilitadores: Angela Escosteguy - Instituto do Bem-estar - IBEN. Porto Alegre/Rio Grande do Sul e João Paulo Guimarães Soares - Embrapa Cerrados
            </td>
            <td>Auditório IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              7. Fontes alternativas para alimentação de aves caipiras<br />Facilitadora: Jackelline Cristina Ost - Universidade Federal do Piauí - Colégio Técnico de Floriano - CTF
            </td>
            <td>Sombra Tamboril do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              8. Preparações sustentáveis <br />Facilitadora: Joelaine de Jesus Santana - IFPI
            </td>
            <td>Laboratório de Gastronomia do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              9. Agroecológica, cuidado e feminismo<br />Facilitadora: Gabriela Brito de Lima Silva - IFPI
            </td>
            <td>Sombra das Mangueiras do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              10. Acesso dos jovens rurais aos espaços decisórios e de diálogo agroecologia <br />Facilitadoras: Dorinha Nonato e Larissa de Brito Nonato - Simões - PI - Quilombo Serra dos Rafaéis
            </td>
            <td>Sombra Mangueiras 2 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              11. Manipulação de plantas medicinais <br />Facilitadoras: Angela Escosteguy - Instituto do Bem-estar - IBEN. Porto Alegre/Rio Grande do Sul e Patrícia Gallindo Carrazzoni - Instituto Agrônomo de Pernambuco
            </td>
            <td>Laboratório de Química do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong></strong>
            </td>
            <td>
              12. Formação de preços de venda de produtos da agricultura familiar <br />Facilitador: Francisco Eduardo de Oliveira Cunha - Universidade Federal do Piauí
            </td>
            <td>Barracão Restaurante 2 do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>Tarde</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>16h às 17h</strong>
            </td>
            <td>Transporte para a Abertura no Museu da Natureza - Coronel José Dias - PI</td>
            <td>IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>17h às 18h</strong>
            </td>
            <td>Visita ao Museu da Natureza</td>
            <td>Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>Noite</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>18h às 18h30</strong>
            </td>
            <td>Boas Vindas ao V SPA - Tatiane Leocádio Temóteo (Coordenadora do NEA)</td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>18h30 às 19h</strong>
            </td>
            <td>Mesa com autoridades políticas</td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>19h às 20h</strong>
            </td>
            <td>
              Conferência de Abertura: Coletivos da agroecologia e a resistência aos impactos da exploração da natureza <br />

              Fórum Nacional de Combate aos Impactos dos Agrotóxicos. (Movimento dos Sem Terra). <br />
              Maria Giselda Nunes Beserra. (Coletivo Energia Eólica do Polo da Borborema - Paraíba - PB) <br />
              Nayanne Magna Ribeiro Viana (Movimento pela Soberania Popular na Mineração. Território Quilombola Lagoas) <br />
              Dorinha Nonato. (Quilombo da Serra dos Rafaéis. Simões – PI)
            </td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>20h às 21h</strong>
            </td>
            <td>Show de Abertura</td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
          <tr>
            <td>
              <strong>21h às 22h</strong>
            </td>
            <td>Transporte para retorno a São Raimundo Nonato</td>
            <td>Área Externa do Museu da Natureza</td>
          </tr>
        </tbody>
      </table>
    </details>

    <hr class="hr" />

    <details open>
      <summary>
        <strong>Terça-feira, dia 29 de Abril 🐆</strong>
      </summary>
      <table class="table">
        <thead>
          <tr>
            <th>Horário</th>
            <th>Atividade</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Manhã</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>8h às 12h</strong>
            </td>
            <td>
              Mesa-redonda sobre Produção de Animal<br />
              Mediação: Patrícia Maria Drumond (Embrapa Meio-Norte) <br />

              Boas Práticas de Produção Animal. (Angela Escosteguy. Instituto do Bem-estar. IBEN. Porto Alegre. Rio Grande do Sul). <br />

              Alimentação de ovinos e caprinos no sistema orgânico (João Paulo Guimarães Soares - Embrapa Cerrados) <br />

              Meliponicultura sustentável para produtores rurais (Sandra Sousa. Projeto Arandu. Teresina - PI).
            </td>
            <td>Auditório do Museu do Homem Americano</td>
          </tr>
          <tr>
            <td>
              <strong>8h às 12h</strong>
            </td>
            <td>
              Mesa-redonda sobre Agroflorestas<br />

              Mediação: Gean Magalhães Bastos (Associação das produtoras e produtores agroecológicos do semiárido piauiense) <br />

              Maria Geane Magalhães Bastos (Sistema Agroflorestal Fazenda Xique-Xique - São Lourenço - PI) <br />

              Francisco Antonio de Sousa (Xico) (Associação Caatinga) <br />

              Agrofloresta sintrópica (Igor Campo Souza - La Reserva) <br />

              Alexandre Kemenes ( Embrapa Meio Norte. Experiência Murici das Portelas - PI) <br />

              Agroflorestando: a experiência em São Raimundo Nonato (Instituto Luss)
            </td>
            <td>Anfiteatro do Museu do Homem Americano</td>
          </tr>
          <tr>
            <td>
              <strong>8h às 12h</strong>
            </td>
            <td>
              Mesa-redonda sobre Produção e Comercialização de Alimentação Saudável, Adequada e Sustentável <br />

              Mediação: Tatiane Leocádio Temóteo (Núcleo de Estudos em Agroecologia. São Raimundo Nonato). <br />

              Budega do Povo: espaço agroecológico solidário (Mazé - Coordenadora Executiva da Associação da Budega do Povo. Viçosa Ceará) <br />

              A experiência Coopercuc de Beneficiamento e Comercialização de alimentos da caatinga (Cooperativa Agropecuária Familiar de Canudos, Uauá e Curaçá - Coopercuc - Bahia) <br />

              Rede de Feiras Agroecológicas e Quitanda da Ecoborborema (Pólo Sindical e das Organização da Agricultura Familiar da Borborema) <br />

              Indicação Geográfica como estratégia para produtos da agricultura familiar (Liária Nunes da Silva - Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte).
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>8h às 12h</strong>
            </td>
            <td>
              Mesa-redonda sobre sobre Políticas Públicas de agroecologia <br />
              Mediação: Hildebrando Wigner da Cruz Pires (Cáritas Regional Piauí) <br />

              Política Estadual de Agroecologia do Estado do Piauí (Conselho Estadual de Agroecologia do Piauí) <br />

              Política estadual de incentivo aos bancos comunitários de sementes voltados para a seleção, produção e conservação, armazenamento e troca de variedades locais tradicionais ou crioulas (Secretaria de Agricultura Familiar) <br />

              Políticas públicas para o combate da pobreza rural: um panorama sobre a região semiárida do Brasil (Fábio dos Santos Santiago) (Diaconia) <br />

              3º Plano Nacional de Agroecologia e Produção Orgânica (Planapo) (Patrícias Dias Tavares – Secretaria Geral da Presidência da República)
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>Tarde</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>13h às 14h</strong>
            </td>
            <td>Apresentações Orais</td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>Noite</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>18h às 19h</strong>
            </td>
            <td>Plenária e Carta Serra da Capivara</td>
            <td>Ginásio do IFPI</td>
          </tr>
          <tr>
            <td>
              <strong>19h às 20h</strong>
            </td>
            <td>Encontros Culturais</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </details>

    <hr class="hr" />

    <details open>
      <summary>
        <strong>Quarta-feira, dia 30 de Abril 🌻</strong>
      </summary>
      <table class="table">
        <thead>
          <tr>
            <th>Horário</th>
            <th>Atividade</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Manhã</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>8h30 às 10h</strong>
            </td>
            <td>Grito do Semiárido - Fórum do Semiárido - Rejane – CEAA - Piracuruca</td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>8h às 12h</strong>
            </td>
            <td>Festival Gastronômico (IFPI)</td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>8h às 11h</strong>
            </td>
            <td>Encontro das Feiras Agroecológicas do Piauí</td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>8h às 11h</strong>
            </td>
            <td>Encontro das Sementes da Fartura</td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>11h às 12h</strong>
            </td>
            <td>Show de Encerramento</td>
            <td>Praça do Abrigo</td>
          </tr>
          <tr>
            <td>
              <strong>Tarde</strong>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>13h às 19h</strong>
            </td>
            <td>Visita ao Sítio do Boqueirão da Pedra Furada</td>
            <td>Parque Nacional Serra da Capivara</td>
          </tr>
        </tbody>
      </table>
    </details>
  </section>
{% endblock %}
