{% extends base_template %}

{% block content %}
  <h3 class="title">Chamada para submissão dos trabalhos</h3>

  <section class="content has-text-justified">
    <p>O Seminário Piauiense de Agroecologia na sua 5ª edição abordará a temática: Agroecologia: caminhos para convivência com o semiárido e resiliência às mudanças climáticas. O evento tem como objetivo contribuir e ampliar a percepção de agricultore/as, técnico/as, pesquisadore/as, artesã/os, artistas, estudantes, consumidore/as, além de movimentos sociais e demais participantes, bem como difundir os resultados de pesquisas e da extensão desenvolvidas no âmbito da Agroecologia.</p>
    <p>Assim, como nas edições anteriores, o Seminário Piauiense de Agroecologia (SPA) continua com sua missão de incentivar e mobilizar a divulgação dos trabalhos realizados em torno da Agroecologia e demais áreas que dialogam com ela. Na busca de reunir os trabalhos que vêm sendo desenvolvidos e a fim de promover o diálogo entre seus pares e a sociedade, propõe-se o compartilhamento dos saberes e vivências desenvolvidas.</p>
    <p>A seguir, serão apresentadas as normas de como que devem constar nos trabalhos enviados.</p>

    <h4 class="title is-4">Do procedimento de participação</h4>

    <p>O(a) autor(a) responsável pelo envio do trabalho deve estar inscrito no evento.</p>
    <p>Cada inscrito poderá enviar apenas 1 trabalho como primeiro autor que será avaliado pela Comissão Científica do V SPA.</p>
    <p>Para esta chamada, o envio do trabalho deverá ser em uma das seguintes propostas abaixo:</p>
    <ul>
      <li>
        <strong>Relatos de experiência popular (em texto, vídeo ou foto):</strong> experiência relatada e apresentada pelos(as) próprios(as) agricultores, agricultoras, comunidades e povos tradicionais ou organização populares;
      </li>
      <li>
        <strong>Relatos de experiência:</strong> projetos ou ações desenvolvidas de ensino, pesquisa ou extensão;
      </li>
      <li>
        <strong>Resumos expandidos:</strong> resultados de ações de ensino, pesquisas e/ou extensão.
      </li>
    </ul>
    <h4 class="title is-4 has-text-warning">Atenção!</h4>
    <p>
      <strong>As modalidades de relato de experiência e resumo expandido devem ser submetidas, inicialmente, na proposta de resumo simples. Após aprovação pela comissão científica, os autores(as) deverão enviar para o e-mail <a href="mailto:piaui.agroecologia@gmail.com">piaui.agroecologia@gmail.com</a> de acordo com a formatação de relato de experiência e resumo expandido presentes nesta chamada.</strong>
      O assunto do e-mail deve informar: temática e modelo de formatação. Exemplo: Gênero, feminismo e Agroecologia – resumo expandido. O arquivo deve ser em formato Word, foto ou vídeo e denominado: Sobrenome do primeiro autor – temática – modelo de formatação. Exemplo: Pereira - Gênero, feminismo e Agroecologia – Relatos de experiência popular.
    </p>
    <p>
      <span style="text-decoration: underline;">Prazo de envio dos trabalhos:</span> <strong>25/03/2025 a 18/04/2025</strong>.
    </p>
    <p>
      <span style="text-decoration: underline;">Prazo de divulgação dos resultados:</span> <strong>até 22/04/2025</strong>.
    </p>
    <p>
      <span style="text-decoration: underline;">Prazo para envio de relato de experiência ou expandido:</span> <strong>até 04/06/2025</strong>.
    </p>
    <p>
      <strong>Os trabalhos que não forem enviados no prazo não serão publicados nos Anais do evento.</strong>
    </p>
    <section class="has-text-centered">
      <a class="button is-success is-large" href="https://docs.google.com/forms/d/1HV-5st-WpQh8BoIl5W26L6xsDwBwLvCHMiQ_6FOSAo0/preview">Submisão de Trabalho</a>
    </section>
    <br />

    <h4 class="title is-4">Grupos de Trabalho</h4>

    <p>Os trabalhos deverão versar direta e ou transversalmente sobre as temáticas abaixo:</p>

    <ol>
      <li>
        <h5 class="title is-5">Gênero, feminismo e Agroecologia</h5>
        <p>A relação entre gênero, feminismo e agroecologia destaca a importância das mulheres na construção de sistemas agrícolas sustentáveis e na preservação dos saberes tradicionais. O feminismo agroecológico questiona a divisão sexual do trabalho, valoriza o papel das mulheres na produção de alimentos e promove a equidade no acesso a recursos, políticas públicas e tomadas de decisão. No contexto brasileiro, podem ser abordadas temáticas como o protagonismo das mulheres na agricultura familiar e na economia solidária, a luta por terra e território, políticas públicas para mulheres rurais, agroecologia e soberania alimentar, os impactos da violência de gênero no campo, experiências de redes e coletivos feministas agroecológicos, além da valorização dos conhecimentos ancestrais das mulheres indígenas, quilombolas e camponesas.</p>
        <br />
      </li>
      <li>
        <h5 class="title is-5">Juventude rural, sucessão familiar e Agroecologia</h5>
        <p>A juventude rural desempenha um papel fundamental na continuidade da agroecologia e na sucessão familiar no campo, garantindo a preservação dos saberes tradicionais e a inovação nas práticas produtivas sustentáveis. No Brasil, esse tema envolve desafios como o êxodo rural, a falta de acesso a políticas públicas e a necessidade de valorização do trabalho agrícola como uma opção viável e digna para os jovens. Entre as temáticas que podem ser abordadas estão: educação do campo e formação agroecológica, políticas de acesso à terra e crédito para jovens rurais, protagonismo juvenil na agroecologia, uso de tecnologias sociais e inovação no campo, redes de articulação da juventude camponesa, além do papel das mulheres e das identidades diversas na sucessão familiar e na permanência no campo.</p>
        <br />
      </li>
      <li>
        <h5 class="title is-5">Políticas públicas: ATER e mercados alternativos para a produção de base agroecológica</h5>
        <p>As políticas públicas voltadas para a Assistência Técnica e Extensão Rural (ATER) e para mercados alternativos são fundamentais para fortalecer a produção de base agroecológica, garantindo apoio técnico, acesso a recursos e a construção de cadeias de comercialização justas e solidárias. No Brasil, essa temática inclui a atuação da ATER pública e privada na transição agroecológica, os desafios e avanços na implementação de políticas como o Programa de Aquisição de Alimentos (PAA) e o Programa Nacional de Alimentação Escolar (PNAE), a certificação participativa e os selos de produtos agroecológicos, os circuitos curtos de comercialização, as feiras agroecológicas e redes de consumidores solidários, além do papel das cooperativas e associações na estruturação dos mercados para a agricultura familiar e camponesa.</p>
        <br />
      </li>
      <li>
        <h5 class="title is-5">Agrobiodiversidade: animal, vegetal e extrativista</h5>
        <p>A agrobiodiversidade: animal, vegetal e extrativista é essencial para a soberania alimentar e a resiliência dos sistemas produtivos, envolvendo a conservação das sementes crioulas, das raças nativas e do extrativismo sustentável como estratégias para fortalecer a agricultura familiar e tradicional. No Brasil, esse tema abrange a valorização dos saberes ancestrais de povos indígenas, quilombolas e camponeses na preservação da biodiversidade agrícola, a criação e fortalecimento de bancos comunitários de sementes, a adaptação de cultivos às mudanças climáticas, a defesa contra a contaminação por transgênicos, políticas públicas de incentivo à conservação da agrobiodiversidade, o papel das feiras e redes de troca de sementes, além da sustentabilidade e manejo responsável dos recursos naturais no extrativismo de frutos, plantas medicinais e outros produtos da sociobiodiversidade.</p>
        <br />
      </li>
      <li>
        <h5 class="title is-5">Cultura, comunicação e Agroecologia</h5>
        <p>A cultura e a comunicação desempenham um papel essencial na promoção e fortalecimento da Agroecologia, possibilitando a valorização dos saberes tradicionais, a troca de experiências entre comunidades e a ampliação do debate sobre práticas sustentáveis. No Brasil, essa temática envolve a comunicação popular e comunitária como ferramenta de mobilização social, o papel das mídias alternativas na difusão da Agroecologia, as expressões culturais associadas aos modos de vida camponeses, indígenas e quilombolas, a educação agroecológica e sua inserção nos currículos escolares, a realização de festivais, feiras e encontros agroecológicos, além da construção de narrativas que desafiam o agronegócio e promovem a soberania alimentar e a justiça socioambiental.</p>
        <br />
      </li>
      <li>
        <h5 class="title is-5">Educação, metodologias participativas e Agroecologia</h5>
        <p>A educação agroecológica, aliada às metodologias participativas, é essencial para a construção coletiva do conhecimento, promovendo a troca de saberes entre agricultores, educadores, pesquisadores e comunidades tradicionais. No Brasil, essa temática abrange experiências de educação do campo, a inserção da agroecologia nos currículos formais e não formais, a pedagogia da alternância e o aprendizado baseado na vivência, as escolas-família agrícolas, os processos de formação continuada para agricultores e técnicos, a valorização dos conhecimentos tradicionais e científicos, a construção de redes de aprendizagem e a pesquisa-ação participativa como ferramenta de fortalecimento das práticas agroecológicas.</p>
        <br />
      </li>
      <li>
        <h5 class="title is-5">Construção do conhecimento agroecológico</h5>
        <p>A construção do conhecimento agroecológico é um processo gradual de transformação dos sistemas convencionais de produção para modelos sustentáveis, baseados em princípios ecológicos, sociais e culturais. No Brasil, essa temática envolve desafios e oportunidades, como a substituição de insumos químicos por práticas agroecológicas, o fortalecimento da agricultura familiar e camponesa, a construção de mercados alternativos e circuitos curtos de comercialização, políticas públicas de incentivo à agroecologia, o papel das redes e movimentos sociais na promoção da transição, a valorização dos conhecimentos tradicionais e científicos, além da resiliência das práticas agroecológicas diante das mudanças climáticas e dos impactos ambientais.</p>
        <br />
      </li>
      <li>
        <h5 class="title is-5">Segurança Alimentar e Nutricional, Gastronomia e Agroecologia</h5>
        <p>A relação entre segurança alimentar e nutricional, gastronomia e agroecologia fortalece a valorização dos alimentos saudáveis, da biodiversidade e das culturas alimentares regionais, promovendo sistemas alimentares sustentáveis e acessíveis. No Brasil, essa temática engloba questões como o combate à fome e à má nutrição, a valorização da sociobiodiversidade na gastronomia, o uso de ingredientes agroecológicos na culinária, políticas públicas de alimentação saudável, o fortalecimento da agricultura familiar como base da segurança alimentar, o impacto dos ultraprocessados na saúde, a educação alimentar e nutricional, além da conexão entre alimentação, cultura e identidade nos territórios rurais e urbanos.</p>
        <br />
      </li>
    </ol>

    <h4 class="title is-4">Da Formatação</h4>

    <ol>
      <li>
        <h5 class="title is-5">Relatos de experiência popular:</h5>
        <p>Os autores(as) que submeterão nessa modalidade podem enviar em 3 (três) formatos: em texto, foto ou vídeo.</p>
        <ul>
          <li>Como texto: utilizar as regras de formatação do resumo simples;</li>
          <li>Como foto: anexar a imagem que represente sua experiência não excedendo a capacidade máxima de 10MB. Contudo, na submissão inserir os nomes do(as) autores(as) que fazem parte do trabalho e o nome da foto.</li>
          <li>Como vídeo: vídeo de no mínimo 5 minutos e máximo de 15 minutos. Não exceder o tamanho máximo de 10MB. Na submissão inserir os nomes do(as) autores(as) que fazem parte do trabalho e o nome da foto.</li>
        </ul>
        <p>O Relato de experiência popular pode conter no máximo 06 autores(as).</p>
      </li>
      <li>
        <h5 class="title is-5">Resumo simples:</h5>
        <p>O resumo simples pode conter no máximo 06 autores(as).</p>
        <p>O texto deve ser formado para uma página de tamanho A4, elaborado no Word, fonte Times New Roman, tamanho 12 (exceto no título), espaço simples entre linhas e texto justificado. A página deve conter margens superior e esquerda de 3cm e inferior e direita com 2cm.</p>
        <p>O texto deverá iniciar com o TÍTULO do trabalho em letras maiúsculas, utilizando fonte Times New Roman, corpo 14, em negrito, centralizado com, no máximo, 20 palavras.</p>
        <p>Autores, coautores e vínculo: inserir o nome completo do(a) autor(a), dos coautores e do orientador(a) (quando for o caso) (um por linha) apenas as iniciais em maiúsculas, alinhado à direita, tamanho 11 com espaçamento simples. Fazer chamada com número arábico sobrescrito, após o último sobrenome de cada autor, inserir vínculo institucional, comunidade, aldeia ou quilombo e e-mail de autores e coautores em nota de rodapé.</p>
        <p>
          O resumo deve ter no mínimo 300 (trezentas) e no máximo 500 (quinhentas) palavras em português, com breves e concretas informações sobre a <strong>justificativa, os objetivos, métodos, resultados e considerações finais do trabalho</strong>. Não deve conter referências bibliográficas. O Resumo deve ser apresentado com parágrafo único.
        </p>
        <p>Logo após o Resumo, seguindo-se à expressão “Palavras-chave:” e, na mesma linha que ela, serão incluídas, no mínimo, três e, no máximo, cinco, expressões em português relacionadas ao tema do trabalho, separadas por “ponto e vírgula”, em minúsculas, fonte Times New Roman tamanho 10.</p>
        <p>
          Acesso o modelo do resumo simples: <a class="button is-info is-small" href="https://docs.google.com/document/d/18FeXJWD0mXEZkMjYWhlkp_chtnC_sHt5/edit?usp=sharing&ouid=107023795674363446806&rtpof=true&sd=true">Modelo Resumo Simples</a>
        </p>
      </li>
      <li>
        <h5 class="title is-5">Resumo expandido:</h5>
        <p>
          O resumo expandido deverá conter no <strong>mínimo 03 e no máximo 05 páginas</strong> (não numeradas) com, no máximo 06 autores/as, Times New Roman, texto justificado, fonte tamanho 12 (exceto no título, resumo, palavras-chave), utilizando formato A4, margens superior/esquerda 3,0 cm e inferior/direita 2,0 cm, com espaçamento 1,5 cm entre linhas, contendo <strong>Introdução</strong> (justificativa implícita e objetivos), <strong>Metodologia, Referencial Teórico</strong>(pode vir anexo à introdução), <strong>Resultados e Discussão, Conclusão, Agradecimentos</strong> (opcional) e <strong>Referências</strong>.
        </p>
        <p>As citações das referências no texto devem seguir as normas vigentes ABNT NBR 10520, edição 2023. Citações de trabalhos extraídos de resumos e abstratos e publicações no prelo não serão aceitas na elaboração do resumo expandido.</p>
        <p>O texto deverá iniciar com o TÍTULO do trabalho em letras maiúsculas, utilizando a fonte Times New Roman, corpo 14, em negrito, centralizado e espaçamento simples.</p>
        <p>Autores, coautores e vínculo: inserir o nome completo do(a) autor(a), dos coautores e do orientador(a) (quando for o caso) (um por linha) apenas as iniciais em maiúsculas, alinhado à direita, tamanho 11 com espaçamento simples. Fazer chamada com número arábico sobrescrito, após o último sobrenome de cada autor, inserir vínculo institucional, comunidade, aldeia ou quilombo e e-mail de autores e coautores em nota de rodapé.</p>
        <p>A seção Resultados e Discussão deve conter os dados obtidos na pesquisa, podendo ser apresentados, também, na forma de tabelas e/ou figuras. A discussão dos resultados deve estar baseada e comparada com a literatura utilizada no trabalho de pesquisa, indicando sua relevância, vantagens e possíveis limitações.</p>
        <p>
          Na seção Referências devem ser listados apenas os trabalhos mencionados no texto, em ordem alfabética do sobrenome, pelo primeiro autor. <strong>Os títulos dos periódicos não devem ser abreviados</strong>. A ordem dos itens em cada referência deve obedecer às normas vigentes da Associação Brasileira de Normas Técnicas – ABNT (NBR 6023: 2023).
        </p>
        <p>
          Acesso o modelo do resumo expandido: <a href="https://docs.google.com/document/d/1O-PCAx_I7pJC74NjisXIXu35yDdEc3dW/edit?usp=sharing&ouid=107023795674363446806&rtpof=true&sd=true" class="button is-info is-small">Modelo Resumo Expandido</a>
        </p>
      </li>
      <li>
        <h5 class="title is-5">Relato de experiência</h5>
        <p>
          O relato de experiência deverá conter no mínimo <strong>03 e no máximo 05 páginas</strong>(não numeradas) com, no máximo 06 autores/as, Times New Roman, texto justificado, fonte tamanho 12 (exceto no título, resumo, palavras-chave), utilizando formato A4, margens superior/esquerda 3,0 cm e inferior/direita 2,0 cm, com espaçamento 1,5 cm entre linhas, contendo <strong>Introdução</strong> (justificativa implícita e objetivos), <strong>Atividades realizadas, Considerações finais, Agradecimentos</strong> (opcional) e <strong>Referências</strong>.
        </p>
        <p>As citações das referências no texto devem seguir as normas vigentes ABNT NBR 10520, edição 2023. Citações de trabalhos extraídos de resumos e abstratos e publicações no prelo não serão aceitas na elaboração do resumo expandido.</p>
        <p>O texto deverá iniciar com o TÍTULO do trabalho em letras maiúsculas, utilizando a fonte Times New Roman, corpo 14, em negrito, centralizado e espaçamento simples.</p>
        <p>Autores, coautores e vínculo: inserir o nome completo do(a) autor(a), dos coautores e do orientador(a) (quando for o caso) (um por linha) apenas as iniciais em maiúsculas, alinhado à direita, tamanho 11 com espaçamento simples. Fazer chamada com número arábico sobrescrito, após o último sobrenome de cada autor, inserir vínculo institucional, comunidade, aldeia ou quilombo e e-mail de autores e coautores em nota de rodapé.</p>
        <p>A introdução deverá conter resumo teórico sobre o tema. Evitar divagações, utilizar bibliografia apropriada para formular os problemas abordados e a justificativa da importância do assunto, deixando claro a(s) hipótese(s) e/ou o(s) objetivo(s) do trabalho.</p>
        <p>A seção de atividades realizadas deve elencar as atividades propostas, o processo de execução, o público-alvo e outros fatores que demonstram o desenvolvimento da ação. Podendo ser apresentados, também, na forma de tabelas e/ou figuras. Sugere-se que o título seja substituído por outro(s) que caracterize(m) o relato.</p>
        <p>As considerações finais devem basear-se exclusivamente nos resultados do trabalho. Evitar a repetição dos resultados em listagem subsequente, buscando, sim, confrontar o que se obteve com os objetivos inicialmente estabelecidos.</p>
        <p>
          Na seção Referências devem ser listados apenas os trabalhos mencionados no texto, em ordem alfabética do sobrenome, pelo primeiro autor. <strong>Os títulos dos periódicos não devem ser abreviados</strong>. A ordem dos itens em cada referência deve obedecer às normas vigentes da Associação Brasileira de Normas Técnicas – ABNT (NBR 6023: 2018).
        </p>
        <p>
          Acesso o modelo do relato de experiência: <a href="https://docs.google.com/document/d/12ZSO2UjsFgHOcAQAQi1AnWgUVfVPiWg9/edit?usp=sharing&ouid=107023795674363446806&rtpof=true&sd=true" class="button is-info is-small">Modelo Relato de Experiência.docx</a>
        </p>
      </li>
    </ol>

    <h4 class="title is-4">Do aceite e apresentação do trabalho</h4>
    <p>Os trabalhos selecionados receberão por e-mail a confirmação do aceite.</p>
    <p>As apresentações ocorrerão em rodas de conversas com instalação pedagógica. Dessa forma, o participante deverá trazer algum elemento que represente sua proposta de trabalho (fotos, imagem impressa, música, banner, maquetes, dentre outras).</p>
    <p>Ressalta-se que não haverá apresentação de slides.</p>

    <h4 class="title is-4">Disposições Finais</h4>

    <p>Os autores concedem, automaticamente, aos realizadores do V SPA, sem qualquer ônus, o direito de mencionar e/ou de publicar nos meios relacionados à difusão do Evento, o texto, além de todo e qualquer material decorrente da realização do trabalho/texto e sua apresentação.</p>

    <p>Os autores dos trabalhos submetidos ao V SPA são os únicos responsáveis pela veracidade das informações encaminhadas, o que inclui responsabilidade de publicação de imagens não autorizadas pelos detentores dos direitos de autor, isentando aos realizadores do Evento qualquer responsabilidade civil e penal.</p>
    <p>O ato de inscrição implica o conhecimento e a integral concordância do(a) participante com as normas e com as condições estabelecidas para submissão dos trabalhos do V SPA.</p>
    <p>Os trabalhos aprovados e apresentados no V SPA serão publicados nos anais do evento.</p>
  </section>
{% endblock %}
