{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %} ">

    <link rel="stylesheet" href="{% static 'vendor/bulma/css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% block css %}

    {% endblock %}
  </head>
  <body hx-ext="morph" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
      <figure class="hero">
        <img
          src="{% static 'images/logo_horizontal_seminario_agroecologia.jpg' %}"
          alt="Logo do Seminario Agroecologia"
        />
      </figure>
    </header>
    <section class="is-hidden" style="display: flex; align-items: center; justify-content: center;">
      <span id="loader" class="htmx-indicator loader"></span>
    </section>
    <main id="main">
        
      {% include "menu.html" %}
        <section class="section">
         
          <div class="container is-primary">
              {% block content %}
      
              {% endblock %}
          </div>


        </section>

        <section class="section">
          <aside class="menu is-hidden-desktop">
            <p class="menu-label">Opções</p>
            <ul class="menu-list">
              <li>
                <a hx-get="{% url 'schedule' %}" hx-target="main" hx-indicator="#loader" hx-push-url="true" hx-swap="morph" href="{% url 'schedule' %}" class="is-link">Programação</a>
              </li>
              <li>
                <a hx-get="{% url 'registration' %}" hx-target="main" hx-indicator="#loader" hx-push-url="true" hx-swap="morph" href="{% url 'registration' %}" class="is-link">Inscrições</a>
              </li>
              <li>
                <a hx-get="{% url 'accommodations' %}" hx-target="main" hx-indicator="#loader" hx-push-url="true" hx-swap="morph" href="{% url 'accommodations' %}" class="is-link">Hospedagens</a>
              </li>
              <li>
                <a hx-get="{% url 'submissions' %}" hx-target="main" hx-indicator="#loader" hx-push-url="true" hx-swap="morph" href="{% url 'submissions' %}" class="is-link">Submissões</a>
              </li>
              <li>
                <a hx-get="{% url 'contact' %}" hx-target="main" hx-indicator="#loader" hx-push-url="true" hx-swap="morph" href="{% url 'contact' %}" class="is-link">Contato</a>
              </li>  
            </ul>
            
          </aside>
        </section>
        
        
        

    </main>

    <script src="{% static 'vendor/htmx/htmx.min.js' %}"></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>

    {% django_htmx_script %}
    <script src="{% static 'js/bulma.js' %}"></script>
    {% block js %}

    {% endblock %}
  </body>
</html>
