:root {
    --bulma-primary-h: 140deg;
    --bulma-primary-s: 39%;
    --bulma-primary-l: 22%;
    --bulma-link-h: 178deg;
    --bulma-link-s: 38%;
    --bulma-link-l: 67%;
    --bulma-info-h: 178deg;
    --bulma-info-s: 38%;
    --bulma-info-l: 67%;
    --bulma-success-h: 110deg;
    --bulma-success-s: 47%;
    --bulma-success-l: 43%;
    --bulma-warning-h: 28deg;
    --bulma-warning-s: 87%;
    --bulma-warning-l: 61%;
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
}

.htmx-request.htmx-indicator {
    display: inline;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar a {
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
}

.hero figcaption {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.4);
    padding: 1em;
}

.hero hgroup * {
    color: #224d30;
}

#div_id_workshop {
    [class="radio"] {
        margin-bottom: 1em;
    }
}

[class="select"],
select {
    width: 100%;
}